---
import { render } from "astro:content";
import formatDate from "../utils/formatDate";
import styles from "./BlogPost.module.scss";

const { entry } = Astro.props;
const { title, subtitle, date, blogImage } = entry.data;
const { Content } = await render(entry);
---

<div class={styles.blogHero}>
  <div class="container">
    <div class={styles.heroRow}>
      <div class={styles.heroText}>
        <p class={styles.date}>{formatDate(date)}</p>
        <h1>{title}</h1>
        <p>{subtitle}</p>
      </div>
      <div class={styles.heroImage}>
        <img src={blogImage} alt={title} />
      </div>
    </div>
  </div>
</div>
<div class={`container ${styles.blogContent}`}>
  <div class={styles.contentRow}>
    <div class={styles.contentCol}>
      <Content />
    </div>
  </div>
</div>
