---
import formatDate from "../utils/formatDate";
import GhostButton from "./GhostButton.astro";
import styles from "./BlogCard.module.scss";

const { entry } = Astro.props;
const { title, subtitle, date, blogImage } = entry.data;
---

<div class={styles.blogCard}>
  <img src={blogImage} alt={title} />
  <div class={styles.cardBody}>
    <div>
      <p class={styles.date}>{formatDate(date)}</p>
      <h3>{title}</h3>
      <p>{subtitle}</p>
    </div>
    <GhostButton href={`/blog/${entry.id}`} class={styles.readMore}>Read More</GhostButton>
  </div>
</div>
