---
import styles from "./CookieBanner.module.scss";
---

<div
  class={`whiteBg darkBlueText ${styles.banner}`}
  data-cookie-banner
  hidden
>
  <div class={`container ${styles.inner}`}>
    <p class={styles.text}>
      This site uses cookies for analytics. See the&nbsp;
      <a class={`${styles.link} blueText`} href="/privacy">Privacy Policy</a> for details.
    </p>
    <button type="button" class={styles.dismiss} data-cookie-dismiss>
      Got it
    </button>
  </div>
</div>

<script>
  const STORAGE_KEY = "cookie-notice-dismissed";
  const banner = document.querySelector("[data-cookie-banner]");

  if (banner && !localStorage.getItem(STORAGE_KEY)) {
    banner.hidden = false;
  }

  banner
    ?.querySelector("[data-cookie-dismiss]")
    ?.addEventListener("click", () => {
      localStorage.setItem(STORAGE_KEY, "true");
      banner.hidden = true;
    });
</script>
