---
import ButtonLink from "./ButtonLink.astro";
import TwoColumn from "../layouts/TwoColumn/TwoColumn.astro";
import styles from "./HeroBanner.module.scss";

const { btn, btnText, img, imgAlt = "", heading, subheading } = Astro.props;
---

<div class={`${styles.heroBanner} whiteText`}>
  <div class="container">
    <TwoColumn>
      <Fragment slot="left">
        <h1>{heading}</h1>
        <p class={styles.subheading}>{subheading}</p>
        {
          btn && (
            <ButtonLink
              href="#contactForm"
              class={`${styles.fullWidth} ${styles.cta} blueBg`}
            >
              {btnText || "Get Started"}
            </ButtonLink>
          )
        }
      </Fragment>
      <Fragment slot="right">
          <img class="alignImageMobile maxImageSize" src={img} alt={imgAlt} />
      </Fragment>
    </TwoColumn>
  </div>
</div>
